### Thumbnails ###
._*
Thumbs.db

### Folder Config ###
.directory
.DS_Store
Desktop.ini

### Log Files ###
*.log

### SQL Files ###
*.sql

### Composer Packages ###
/vendor

### Node.js Packages ###
node_modules/

### Sass Cache ###
.sass-cache

### Source Maps ###
/**/*.js.map
/**/*.css.map

### Environment Config ###
.env

### SilverStripe Cache ###
silverstripe-cache/

### SilverStripe Resources ###
resources/

### SilverStripe Themes ###
/themes/silverware-theme
